<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 class="page-header">SBI</h1>
Last updated time: {{ data1.lastUpdateTime }}
<br>
-------------------------------------------------------------------------------------------------------------------------------------------
<br>
Futlink: {{ data1.futLink }}
<br>
-------------------------------------------------------------------------------------------------------------------------------------------
<br>
Other series: {{ data1.otherSeries }}
<br>
-------------------------------------------------------------------------------------------------------------------------------------------
<br>
Traded date: {{ data1.tradedDate }}

<br>
-------------------------------------------------------------------------------------------------------------------------------------------
<br>
{#Extreme loss margin: {{ data1.data[0].extremeLossMargin }}#}
OptLink: {{ data1.optLink }}
<br>
-------------------------------------------------------------------------------------------------------------------------------------------
<br>
Data: <br>
{% for each in data1.data %}
    {% for key, value in each.items %}
        {{ key }}: {{ value }}
        <br>
    {% endfor %}
{% endfor %}



</body>
</html>