{% if error %}
<p><strong>{{ error }}</strong></p>
{% endif %}

<form action="{% url 'masterapp:index' %}" method="post">
{% csrf_token %}

<label name = "label1" id = "label1" >Value 1: </label>
<input type = "text" name = "value1" id = "value1">

<br>
<br>

<label name = "label2" id = "label2" >Value 2: </label>
<input type = "text"  name = "value2" id = "value2">

<br>
<br>

<input type="submit" value="Add" />

<br>
<br>

{% if sum %}
    <p>Result: {{ sum }}</p>
{% endif %}

</form>

{#{%  load staticfiles %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{##}
{#    <meta charset="utf-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link href="{%  url static "masterapp/css/bootstrap.min.css" %}" rel="stylesheet">#}
{##}
{#    <title>Sign Up</title>#}
{##}
{#</head>#}
{#<body>#}
{#  <div class="navbar navbar-default navbar-static-top" role="navigation">#}
{#    <div class="container">#}
{#      <div class="navbar-header">#}
{#        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
{#        <span class="sr-only">Toggle navigation</span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#        </button>#}
{#        <a class="navbar-brand" href="#" title='Your choice, your world!'>Home</a>#}
{#      </div>#}
{##}
{#      <div class="navbar-collapse collapse">#}
{#        <ul class="nav navbar-nav">#}
{#          <li class="active">#}
{#            <a href="#">Sign Up</a>#}
{#          </li>#}
{#          <li>#}
{#            <a href="#">Sign In</a>#}
{#          </li>#}
{##}
{#        </ul>#}
{#      </div><!--/.nav-collapse -->#}
{##}
{#    </div>#}
{#  </div>#}
{##}
{#  <div class="container">#}
{#    <div class="page-header">#}
{#    <h1>This is just an empty Home Page</h1>#}
{#    </div>#}
{##}
{##}
{#  </div>#}
{#  <script src="masterapp/jquery-3.1.0.min.js"></script>#}
{#  <script src="masterapp/js/bootstrap.min.js"></script>#}
{#</body>#}
{#</html>#}
