{%  load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{%  static "loginapp/css/bootstrap.min.css" %}" rel="stylesheet">

    <title>Home</title>

</head>

<body>
{#<div class="container">#}
{#    {% if logged_in %}#}
{#        <div class="page-header">#}
{#        <h1>Welcome {%  %}</h1>#}
{#        </div>#}
{#    {% endif %}#}
{#</div>#}
<div class="container">
    <div class="page-header">
        <h1>This is just an empty Home Page</h1>
    </div>


</div>

</body>